#container{
	width: 1200px;
	margin: 0 auto;
}

#panel{
	width: 400px;
	height: 300px;
	margin:0 auto;
	position: relative;
	overflow: hidden;
}

.box{
	width: 400px;
	height: 300px;
	color: white;
	text-align: center;
	line-height: 300px;
	font-size: 30px;
	transition: 1s;
}



#box1{
	background-color: blue;
	position: absolute;
	left:100%;
	
}

#box2{
	background-color: rgb(238, 255, 0);
	position: absolute;
	left:100%;

}

#box3{
	background-color: rgb(247, 3, 3);
	position: absolute;
	left:100%;
}

.in{
	transform: translateX(-100%);
	z-index: 100;
}

.out{
	transform: translateX(-200%);
	z-index: 50;
}

#buttons{
	text-align: center;
	margin: 0 auto;
}
